body {
  background-color: #222;
}

div#main {
  width: 640px;
  height: 480px;
  margin: 10px auto;
  border: 3px dashed gray;
  position: relative;
}

div.floating {
  width: 100px;
  height: 100px;
  border: 2px solid;
  position: absolute;
}
