body {
  padding: 10px;
/*  background: url(../imgs/hexellence.png);*/
}

div#foreground {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 20;
}

svg {
  border: 2px solid gray;  
  z-index: 10;
  height: 610px;
}

g.hexagon text {
  font-size: 16px;
  font-family: sans;
  fill: white;
  alignment-baseline: middle;
  text-anchor: middle;
}

g.hexagon polygon {
  fill: gray;
  fill-opacity: 0.8;
  stroke: none;
}

g.hexagon polygon.sub {
  stroke: black;
  stroke-width: 1px;
}

g.hexagon polygon:hover {
  stroke: black;
  stroke-width: 2px;
}

g.hexagon polygon.selected {
  fill: black;
}
