body {
  padding: 10px;
/*  background: url(../imgs/hexellence.png);*/
}

div#foreground {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 20;
}

svg {
  border: 2px solid gray;  
  z-index: 10;
  height: 610px;
}

g.hexagon text {
  font-size: 18px;
}

g.hexagon polygon.main {
  fill: black;
}

g.hexagon polygon.main:hover {
  fill: red;
}
