body {
  padding: 10px;
/*  background: url(../imgs/hexellence.png);*/
}

div#foreground {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 20;
}

svg {
/*  border: 2px solid gray;  */
  z-index: 10;
  width: 1200px;
  height: 800px;
}

polygon.content {
  fill: none;
  stroke: gray;
}

g.hexagon text {
  font-size: 13px;
  font-family: sans;
  fill: white;
  alignment-baseline: middle;
  text-anchor: middle;
}

g.hexagon polygon {
  fill: #888;
  fill-opacity: 0.8;
  stroke: none;
}

g.hexagon polygon.sub {
  fill-opacity: 0;
  stroke: none;
}

g.hexagon polygon:hover {
  fill: #444;
}

g.hexagon polygon.selected {
  fill: #444;
}

g.hexagon polygon.selected:hover {
  fill: #888;
}

div.description {
  background: white;
  color: #555;
  padding: 8px 16px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #aaa;
}

div.description h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.25em;
}

div.description p {
  margin: 0;
  font-family: serif;
  text-align: justify;
}
